
/* Rectangle */
.glass-card{
    position: relative;
    width: 90%;
    height: auto;
    margin: 20px auto;

    background: linear-gradient(124.68deg, rgba(255, 255, 255, 0.380469) 0%, #FFFFFF 100%);
    backdrop-filter: blur(128px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
    padding: 15px 0;
}

.glass-card-title{
    color: #1E1E24;
    text-transform: uppercase;
    margin-top: 5px;
}

.glass-card-description{
    text-align: center;
    margin: 0 10px;
    font-size: 14px;
    color: rgba(30, 30, 36, 0.85)
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon{
    font-size: 64px;
    color: #1E1E24;
}

