.navbar{
    height: 50px;
    background-color: white;
    vertical-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12px;
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
}

.material-icons{
    font-size: 37px;
}

@media only screen and (min-width: 768px){
    .navbar{
        padding: 40px 40px 0 0;
        background-color: transparent;
        color: white;
    }
}