.navbar{
    height: 50px;
    background-color: white;
    vertical-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12px;
}

.material-icons{
    font-size: 37px;
}