.section-title{
    color: white;
    margin-top: 30px;
}

.spacer{
    margin: 2px 0;
}

.grey-text{
    color: rgba(255, 255 ,255, 0.65);
    font-size: 14px;
}

.white-text{
    color: white;
    font-size: 14px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.grid-item{
    padding: 2px 0;
    font-size: 14px;
    font-weight: normal;
}

.heart-icon{
    font-size: 14px;
}

@media only screen and (min-width: 600px){
    .padding-horizontal{
        padding: 0 15px;
    }

    .section-title{
        font-size: 18px;
    }

    .grey-text, .white-text, .grid-item, .heart-icon{
        font-size: 16px;
    }
}