.content-container{
    width: calc(100% - 2*22px);
    margin: 0 auto; 
}

.section-title{
    color: white;
    margin-top: 30px;
}

.information-description{
    margin-top: 2px;
}

.spacer{
    margin: 2px 0;
}

.grey-text{
    color: rgba(255, 255 ,255, 0.65);
    font-size: 14px;
}

.white-text{
    color: white;
    font-size: 14px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.grid-item{
    padding: 2px 0;
    font-size: 14px;
    font-weight: normal;
}