.content-container{
    width: calc(100% - 2*22px);
    margin: 0 auto; 
}

/* profile-picture */
.profile-picture{
    margin: 33px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 174px;
    height: 174px;

    background: url("./assets/khang.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 146px;
}

.profession{
    font-size: 23px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.profession-description{
    margin: 5px 0px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}

.download-cv-button{
    /* download cv button */
    position: relative;
    width: 169px;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
    margin-bottom: 50px;


    background: linear-gradient(124.68deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.380469) 6.77%, #FFFFFF 100%);
    backdrop-filter: blur(128px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
}

.cv-button-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #1E1E24;
    font-weight: bold;
}

.spacer-navbar{
    margin-top: 65px !important;
}

/* For tablets: */
@media only screen and (min-width: 600px){
    .content-container{
        width: calc(100% - 2*22px);
        margin: 0 auto; 
    }

    /* profile-picture */
    .profile-picture{
        margin: 33px 0;
        position: static;
        left: initial;
        transform: initial;
        width: 264px;
        height: 264px;

        background: url("./assets/khang.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 264px;
    }

    .home-grid-center-content{
        margin-top: calc(264px - 212px);
        width: 50%;
    }

    .home-flex-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .profession{
        font-size: 26px;
    }

    .profession-description{
        font-size: 17px;
    }

    .download-cv-button{
        width: 200px;
        height: 40px;
    }

    .cv-button-text{
        font-size: 18px;
    }

    .home-grid-container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 768px){
    .content-container{
        max-width: 1480px;
        height: calc(100vh - 50px);
    }

    .home-flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* profile-picture */
    .profile-picture{
        margin: 33px 0;
        position: static;
        left: initial;
        transform: initial;
        width: 335px;
        height: 335px;

        background: url("./assets/khang.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 264px;
    }

    .home-grid-center-content{
        margin-top: calc(405px - 339px);
        width: 30%;
        margin-left: 90px;
    }
    
    .profession{
        font-size: 34px;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    .profession-description{
        font-size: 18px;
    }

    .download-cv-button{
        width: 200px;
        height: 40px;
    }

    .cv-button-text{
        font-size: 18px;
    }

    .home-grid-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 72px;
    }
}