/* profile-picture */
.profile-picture{
    margin: 33px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 174px;
    height: 174px;

    background: url("./assets/khang.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 146px;
}

.profession{
    font-size: 23px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.profession-description{
    margin: 5px 0px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}

.download-cv-button{
    /* download cv button */
    position: relative;
    width: 169px;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
    margin-bottom: 50px;


    background: linear-gradient(124.68deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.380469) 6.77%, #FFFFFF 100%);
    backdrop-filter: blur(128px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
}

.cv-button-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #1E1E24;
    font-weight: bold;
}
