@media only screen and (min-width: 600px){
    .skills-grid-container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50% 50%;
        grid-row-gap: 30px;
    }
}

@media only screen and (min-width: 769px){
    .skills-grid-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}