.project-img{
    /* max-height: 240px; */
    width: 100%;
    margin: auto;
    margin-bottom: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.project-type{
    color: rgba(255, 255, 255, 0.65);
    font-size: 18px;
}

.project-title{
    color: white;
    margin: 10px auto;
    margin-bottom: 10px;
}

.project-description{
    color: white;
    margin: 10px auto;
    margin-bottom: 20px;
    font-size: 14px;
}

@media only screen and (min-width: 600px){
    .project-container{
        padding: 15px;
    }

    .project-title{
        font-size: 20px;
    }

    .project-description{
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px){
    .project-img{
        width: 100%;
    }

    .project-type{
        font-size: 20px;
    }

    .project-title{
        font-size: 24px;
    }

    .project-description{
        font-size: 20px;
    }
}